  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    color: white;
    height: 70px;
    width: 100%;
  }
  .logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .logo-menu h1{
    font-size: 25px;
    color: #0CF;
  }

  .logo-menu img {
    width: 20px;
  }

  .nav-menu{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-menu a{
    color: white;
    text-decoration: none;
  }

  .nav-menu a:hover{
    text-decoration: underline;
  }

  .perfil-menu a{
    color: white;
    text-decoration: none;
    text-align: right;
    font: 600 17px Poppins;
  }

  .perfil-menu a:hover{
    color: #0CF;
  }

/* MAIN */

  .main {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }
  
  .form {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .form-group{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  .form-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tipos{
    align-items: center;
    justify-content: space-around;
    display: flex;
  }
  
  .form-group input, select {
    background-color: white;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .btn-reservar {
    background-color: #12BA23;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 25%;
    font: 700 20px Poppins;
  }
  
  .btn-reservar:hover {
    background-color: #008c00;
  }
  
  /* SECTION */
  .reservas {
    width: 95%;
    margin-top: 10px;
  }
  
  .reservas table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .reservas th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .reservas th {
    background-color: #222;
    color: white;
  }
  