  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    color: white;
    height: 70px;
    width: 100%;
  }

  .logo-menu {
    display: flex;
    align-items: center;
  }

  .logo-menu h1 {
    font-size: 25px;
    color: #0CF;
  }

  .logo-menu img {
    width: 20px;
  }

  .nav-menu {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-menu a {
    color: white;
    text-decoration: none;
  }

  .nav-menu a:hover {
    text-decoration: underline;
  }

  .perfil-menu a {
    color: white;
    text-decoration: none;
    text-align: right;
    font: 600 17px Poppins;
  }

  .perfil-menu a:hover {
    color: #0CF;
  }

  /* MAIN */

  .main {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }

  .form {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .form-group {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  .form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tipos {
    align-items: center;
    justify-content: space-around;
    display: flex;
  }

  .form-group input,
  select {
    background-color: white;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
  }

  .btn-reservar,
  .btn-editar-perfil {
    background-color: #12BA23;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 25%;
    font: 700 20px Poppins;
  }

  .btn-reservar:hover {
    background-color: #008c00;
  }

  /* SECTION */
  .solicitacoes {
    width: 95%;
    margin-top: 10px;
  }

  .solicitacoes table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  

  .solicitacoes th,
  td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
  }

  .cabecalho {
    background-color: #222;
    color: white;
  }
  
  .celula-titulo {
    background-color: #7AE4FF;
    width: 100%;
  }

  .avaliar {
    display: flex;
    justify-content: space-around;
  }

  .delete-perfil {
    color: #B02600;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    ;
  }

  .logout {
    color: #323137;
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }